<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piese cu Preț Mai Mic de 500</title>
</head>
<body>
    <h1>Piese cu Preț Mai Mic de 500</h1>
    <table border="1">
        <tr>
            <th>ID_Piesa</th>
            <th>Nume</th>
            <th>Pret</th>
            <th>Cantitate în Stoc</th>
        </tr>
        {% for piesa in piese %}
        <tr>
            <td>{{ piesa[0] }}</td>
            <td>{{ piesa[1] }}</td>
            <td>{{ piesa[2] }}</td>
            <td>{{ piesa[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>