h2 {
    font-family: 'Arial', sans-serif;
    font-size: 120px;
    text-align: center;
    color: black;
    padding-top: 250px;
    padding-bottom: 200px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 120px;
    text-align: center;
    color: black;
    padding-top: 250px;
    padding-bottom: 200px;
}

button

body {
    background-image:url('v1030-064.jpg');
}